body {
    background-image: linear-gradient(90deg, #141e30, #243b55);
    
    /*margin: 0;
    padding: 0;
    
    width: 95.3%;
    height: 100vh;
  
    background: #333;
    background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
    background-size: 0.95em 0.95em;*/
  }
  
  a {
    font-family: "Book Antiqua"; /* or Calibri */
  }
  
  .navbar {
    position: fixed;
    z-index: 1;
  }
  
  .Liked::after {
    content: "\2764";
    font-size: 8px;
      display: block;
    margin-left: 1.124em;
  }
  
  .Liked::before {
    content: "\2764";
    font-size: 7px;
      display: block;
    margin-left: -0.40em; /*can be 0.30*/
    margin-top: -55.5em;
  }
  
  a.Home {
    margin-left: 0.6em;
    margin-top: 10px;
  }
  
  a.Explore {
    margin-left: 0.6em;
  }
  
  a.Accentuates {
    margin-left: 0.6em;
  }
  
  a.Liked {
    margin-left: 2.7em;
    margin-top: 22px;
  }
  
  button.Menu {
    margin-top: 41px;
    margin-left: 12px;
    background: transparent;
    border: none;
    outline: none;
    color: #c7fc79;
    font-size: 23px;
  }
  
  input.Explore {
    margin-left: 1.3em;
    border: none;
    background: -webkit-linear-gradient(45deg, #8fbac7, #7081b8);
    padding: 8px;
    text-align: left;
    border-radius: 5px; /*can be 58*/
    text-decoration: none;
    outline: none;
    color: #255e2c;
    display: inline-block;
    margin-top: 30px;
  }
  
  .Explore input:hover {
    background: red;
  }
  
  ::placeholder {
    color: #255e2c;
    font-family: "Book Antiqua";
    font-size: 16px;
    font-weight: bolder;
    opacity: 0.8;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #243b55;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #121a26;
    border-radius: 0px;
    opacity: 0.5;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.78;
    background: #89abe0;
  }  